﻿@page
@model IndexModel

@{ 
    var dictionary = (IDictionary<string, (int, double)>)ViewData["data"];

    static string GetStyle(double hdi) =>
        hdi switch
        {
            var x when x <= 0.6 => "table-danger",
            var x when x > 0.6 && x <= 0.75 => "table-warning",
            var x when x > 0.75 && x <= 0.9 => "table-info",
            var x when x > 0.9 => "table-success",
            _ => "table-dark"
        };
}

<div class="jumbotron bg-light text-dark text-center">
    <h1 class="display-4 text-info">$ per Capita for Science vs. HDI</h1>
    <p class="lead">How does the amount of money a country spends per person on science-related things connect to its development?</p>
</div>

<div id="carouselExample" class="carousel slide bg-light text-dark text-center rounded" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExample" data-slide-to="1"></li>
        <li data-target="#carouselExample" data-slide-to="2"></li>
        <li data-target="#carouselExample" data-slide-to="3"></li>
        <li data-target="#carouselExample" data-slide-to="4"></li>
        <li data-target="#carouselExample" data-slide-to="5"></li>
        <li data-target="#carouselExample" data-slide-to="6"></li>
        <li data-target="#carouselExample" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item p-5 active">
            <div class="d-block w-100">
                <h2 class="text-info">Background Info</h2>
                <p>
                    The advancement of the human race is very important in order to ensure our collective survival.
                    Science and new technologies should compromise increasingly large parts of our budgets in order to maintain
                    the quality of life we currently enjoy.
                </p>
            </div>
        </div>
        <div class="carousel-item p-5">
            <div class="d-block w-100">
                <h2 class="text-info">Hypothesis</h2>
                <p>
                    As a country spends more of its budget on science-related things, its Human Development Index tends to increase.
                    This is due to people gaining access to new inventions, care and materials that were not available before.
                </p>
            </div>
        </div>
        <div class="carousel-item p-5">
            <div class="d-block w-100">
                <h2 class="text-info">Explanation</h2>
                <p>
                    As more money is given to science-related items, more medicines and technological enchancements are developed, making life better.
                    <hr />
                    More people can move out of working as agriculturalists and move into working as professionals.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 p-5">
                <h2 class="text-info">Extraneous Variables</h2>
                <p>
                    A country could see the correlation and try to advance itself by spending more of its budget on science-related items.
                    This would skew them to the right, as Equatorial Guinea seems to be.
                    <hr />
                    A country could be experiencing political turmoil, such as Isreal, which would decrease both its HDI and the amount of money
                    it would be willing to spend on science-based initiatives.
                </p>
            </div>
        </div>
        <div class="carousel-item p-5">
            <div class="d-block w-100">
                <h2 class="text-info">Sampling Methodology</h2>
                <p>
                    The UN, in order to determine the characteristics needed to calculate HDI, uses a combination of
                    stratified, clustered and multi-stage sampling while using systematic random sampling on the large dataset collected.
                    <hr />
                    It does this for life expectancy, average education and average national income.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 p-5">
                <h2 class="text-info">Formula/Model</h2>
                <p class="formula">
                    <var>y</var> = 0.338666 <strong>log</strong><sub> 24.1982 </sub>(<var>x</var> - 209.248) - 0.219704
                    <br />
                    <var>x</var> is the $ per Capita on Science;
                    <var>y</var> is the HDI.
                </p>
                <hr />
                <p class="formula">
                    <var>r</var> = 0.928 (Strong Positive Correlation);
                    <var>r<sup>2</sup></var> = 0.862 = 86.2%
                </p>
                <hr />
                <p>
                    A logarithmic model is the best fit for this data.
                    This is probably because there is only so far that funding can help, and once a country reaches a certain point,
                    increasing funding can no longer improve HDI dramatically, and diminishing returns are observed.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 p-5">
                <h2 class="text-info">Prediction</h2>
                <p>
                    Using this data and model, we can predict that a country with a HDI of around 0.930, such as Canada,
                    should be spending around USD$50,000 per person on science-related activities.
                    Currently, Canada only spends around USD$38,000 per person.
                    <hr />
                    This would be helpful to developing countries, especially people such as country leaders,
                    to see how they could increase funding in order to improve their HDI.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block w-100 p-5">
                <h2 class="text-info">Assumptions and Dangers</h2>
                <p>
                    If a country spends moderately on science related budgets, but contains a very small population,
                    then its position will be heavily skewed to be greater to the right. The inverse is also true.
                    <hr />
                    Special circumstances, such as natural disasters, may reduce a country's capability to fund science-related things.
                </p>
            </div>
        </div>
    </div>
</div>

<hr />

<h2 class="text-center text-info">Chart</h2>
<div class="d-flex justify-content-center">
    <button id="chartButton" class="btn btn-outline-dark">Click Here to Create a Chart!</button>
    <canvas id="chart"></canvas>
</div>

<hr />

<h2 class="text-center">
    <span class="text-info">Data</span>
    <button id="tableCollapseButton" class="btn btn-outline-dark btn-sm">
        <i id="tableCollapseIcon" class="fas fa-caret-down"></i>
        <span id="tableCollapseText">Expand</span>
    </button>
</h2>
<div class="card rounded">
    <div class="card-body p-0 rounded">
        <div class="table-responsive rounded">
            <table class="table table-sm table-striped table-hover table-borderless text-center m-0 rounded">
                <thead class="bg-info text-light">
                    <tr>
                        <th scope="col">Country</th>
                        <th scope="col"><abbr title="US Dollar">$</abbr> <abbr title="Purchasing Power Parity">PPP</abbr> per Capita for Science</th>
                        <th scope="col"><abbr title="Human Development Index">HDI</abbr></th>
                    </tr>
                </thead>
                <tbody id="fakeBody">
                    <tr class="table-dark">
                        <th scope="row" colspan="3" class="text-dark">Data Table Collapsed</th>
                    </tr>
                </tbody>
                <tbody id="tableBody">
                    @foreach (var item in dictionary)
                    {
                        <tr class="@GetStyle(item.Value.Item2)">
                            <th scope="row" class="data-country">@item.Key</th>
                            <td class="data-capita">@string.Format("{0:C0}", item.Value.Item1)</td>
                            <td class="data-hdi">@string.Format("{0:F3}", item.Value.Item2)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr />

<h2 class="text-center text-info">Sources</h2>
<div class="d-flex justify-content-center">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="link-primary" target="_blank" href="http://data.uis.unesco.org/">UNESCO Expenditures</a>
        </li>
        <li class="list-inline-item">
            <a class="link-primary" target="_blank" href="http://hdr.undp.org/en/composite/HDI">UNDP HDI</a>
        </li>
        <li class="list-inline-item">
            <a class="link-primary" target="_blank" href="http://mdgs.un.org/unsd/demographic/meetings/egm/Sampling_1203/docs/no_2.pdf">Data Collection Methods</a>
        </li>
        <li class="list-inline-item">
            <a class="link-primary" target="_blank" href="https://docs.google.com/spreadsheets/d/12bsCe1vwA_35hg05lZTk1URPossjwi6wr1dOpb8o5nc/edit#gid=0">Spreadsheet</a>
        </li>
        <li class="list-inline-item">
            <a class="link-primary" target="_blank" href="https://theconversation.com/infographic-how-much-does-the-world-spend-on-science-14069">Article</a>
        </li>
    </ul>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#tableBody").toggle();
            $("#tableCollapseButton").on("click", function() {
                $("#tableBody").toggle();
                $("#fakeBody").toggle();

                if ($("#tableCollapseText").html() == "Expand")
                    $("#tableCollapseText").html("Collapse");
                else if ($("#tableCollapseText").html() == "Collapse")
                    $("#tableCollapseText").html("Expand");

                $("#tableCollapseIcon").toggleClass("fa-caret-down");
                $("#tableCollapseIcon").toggleClass("fa-caret-up");
            });

            $("#chart").hide();

            $("#chartButton").on("click", function() {
                $("#chartButton").hide();
                $("#chart").show();

                makeChart(getData("capita"), getData("hdi"));
            });

            function getData(type) {
                switch (type) {
                    case "country":
                        return $(".data-country").map((_, e) => e.innerHTML).get();
                    case "capita":
                        return $(".data-capita").map((_, e) => e.innerHTML).get();
                    case "hdi":
                        return $(".data-hdi").map((_, e) => e.innerHTML).get();
                    default:
                        return null;
                }
            }

            function getCountry(data, capita, hdi) {
                var countries = getData("country");
                for (var i = 0; i < data.length; i++) {
                    if (capita % 5000 == 0 || capita == 549.75) {
                        return "Best Fit";
                    }

                    if (data[i].x == capita && data[i].y == hdi) {
                        return countries[i];
                    }
                }
            }

            function makeChart(capitaArr, hdiArr) {
                var data = capitaArr.map((v, i) => ({
                    x: v.substring(1).replace(",", ""),
                    y: hdiArr[i]
                }));

                var formatter = new Intl.NumberFormat('en-US', {
                    style: "currency",
                    currency: "USD",
                    minimumFractionDigits: 0,
                    maximumFractionDigits: 0
                });

                var colors = Array(capitaArr);
                for (var i = 0; i < hdiArr.length; i++) {
                    var hdiCur = hdiArr[i];
                    if (hdiCur <= 0.6)
                        colors[i] = "red";
                    else if (hdiCur > 0.6 && hdiCur <= 0.75)
                        colors[i] = "goldenrod";
                    else if (hdiCur > 0.75 && hdiCur <= 0.9)
                        colors[i] = "darkcyan";
                    else if (hdiCur > 0.9)
                        colors[i] = "darkgreen";
                }

                var labels = Array(10);
                for (var i = 0; i < labels.length; i++)
                    labels[i] = i * 10000;

                var ctx = $("#chart");
                var chart = new Chart(ctx, {
                    type: "scatter",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                type: "scatter",
                                label: "$/Capita vs HDI",
                                data: data,
                                pointBackgroundColor: colors,
                                borderColor: colors,
                                backgroundColor: colors[0]
                            },
                            {
                                type: "line",
                                label: "Line of Best Fit",
                                data: [
                                    { x: 549.75, y: 0.4 },
                                    { x: 0.5 * 10000, y: 0.681035162277 },
                                    { x: 1 * 10000, y: 0.757005244117 },
                                    { x: 1.5 * 10000, y: 0.800856200996 },
                                    { x: 2 * 10000, y: 0.831808870937 },
                                    { x: 2.5 * 10000, y: 0.855751074431 },
                                    { x: 3 * 10000, y: 0.875279249576 },
                                    { x: 3.5 * 10000, y: 0.891770353971 },
                                    { x: 4 * 10000, y: 0.906043137301 },
                                    { x: 4.5 * 10000, y: 0.918624252794 },
                                    { x: 5 * 10000, y: 0.929872548928 },
                                    { x: 5.5 * 10000, y: 0.940043562683 },
                                    { x: 6 * 10000, y: 0.949325727352 },
                                    { x: 6.5 * 10000, y: 0.957861988151 },
                                    { x: 7 * 10000, y: 0.96576335923 },
                                    { x: 7.5 * 10000, y: 0.973117778465 },
                                    { x: 8 * 10000, y: 0.979996090854 }
                                ],
                                fill: false,
                                borderDash: [5, 5],
                                backgroundColor: "purple",
                                borderColor: "purple"
                            }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "USD$ Purchasing Power Parity per Capita vs. Human Development Index"
                        },
                        scales: {
                            xAxes: [
                                {
                                    scaleLabel: {
                                        display: true,
                                        labelString: "USD$ Purchasing Power Parity per Capita"
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function(value, _, _) {
                                            return formatter.format(value);
                                        }
                                    }
                                }
                            ],
                            yAxes: [
                                {
                                    scaleLabel: {
                                        display: true,
                                        labelString: "Human Development Index"
                                    }
                                }
                            ]
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            callbacks: {
                                label: function(tooltipItem, _) {
                                    return getCountry(data, tooltipItem.xLabel, tooltipItem.yLabel)
                                        + " (" + formatter.format(tooltipItem.xLabel) + " - "
                                        + parseFloat(tooltipItem.yLabel).toFixed(3) + ")";
                                }
                            }
                        }
                    }
                });
            }
        });
    </script>
}