﻿.formula {
    font-family: "Times New Roman", serif;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

h1, h2, h3, h4 {
    font-family: Garamond, "Times New Roman", serif;
}

nav {
    font-family: Constantia, "Times New Roman", serif;
}

body {
    font-family: Georgia, "Times New Roman", serif;
}

footer {
    font-family: Courier New, Courier, monospace;
}