﻿<!DOCTYPE html>

<html lang="en">
<head>
    <title>Rajat Patwari - Data Correlation Project</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/2eb88ffea0.js"></script>
    <link rel="stylesheet" href="~/css/shared.css" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-info sticky-top">
        <div class="container-fluid d-flex justify-content-center">
            <span class="navbar-brand"><i class="fas fa-chart-line"></i> Rajat Patwari - Correlation Project</span>
        </div>
    </nav>

    <div class="container pt-3">
        <div class="wrapper">
            @RenderBody()
        </div>

        <hr />
        <footer class="mb-3"><small>&copy; 2019 - Rajat Patwari</small></footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>